<!-- <div class='container'>
    <div class="col-sm-3 img-item">
      <div>
        <img width='100%' src="../assets/images/5_image_2_71097.jpg">
  
      </div>
     
      <div>
        <h4>KASHIVISWANATH TEMPLE</h4>
      </div>
      <div>
          <p class="size ng-binding">
              According to the Hindu Culture,Engagement(Wagda... </p>
      </div>
      <div  class='buttons' >
        <button class="btn btn-danger">View Details</button>
      
           
         
      </div>
      
    </div>
    <div class="col-sm-3 img-item">
        <div>
          <img width='100%' src="../assets/images/4_image_2_ANNA2.jpg">
        </div>
        <div>
          <h4>ANNAVARAM TEMPLE</h4>
        </div>
        <div>
            <p class="size ng-binding">
                According to the Hindu Culture,Engagement(Wagda... </p>
        </div>
        <div  class='buttons' >
          <button class="btn btn-danger">View Details</button>
        
              
        </div>
        
      </div>
      <div class="col-sm-3 img-item">
          <div>
            <img width='100%' src="../assets/images/3_image_2_SRII1.jpg">
          </div>
          <div>
            <h4>SRISHAILAM TEMPLE</h4>
          </div>
          <div>
              <p class="size ng-binding">
                  According to the Hindu Culture,Engagement(Wagda... </p>
          </div>
          <div  class='buttons' >
            <button class="btn btn-danger">View Details</button>
          
              
          </div>
          
        </div>
        <div class="col-sm-3 img-item">
            <div>
              <img width='100%' src="../assets/images/2_image_2_11.jpg">
            </div>
            <div>
              <h4>TDD TEMPLE</h4>
            </div>
            <div>
                <p class="size ng-binding">
                    According to the Hindu Culture,Engagement(Wagda... </p>
            </div>
            <div  class='buttons' >
              <button class="btn btn-danger">View Details</button>
            
                
               
            </div>
            
          </div>
  </div>
  
  <div class='container'>
      <div class="col-sm-3 img-item">
        <div>
          <img width='100%' src="../assets/images/3_image_1_SRI2.jpg">
        </div>
        <div>
          <h4>BHADRACHALAM</h4>
        </div>
        <div>
            <p class="size ng-binding">
                According to the Hindu Culture,Engagement(Wagda... </p>
        </div>
        <div  class='buttons' >
          <button class="btn btn-danger">View Details</button>
        
             
           
        </div>
        
      </div>
      <div class="col-sm-3 img-item">
          <div>
            <img width='100%' src="../assets/images/SHIRDI.jpg">
          </div>
          <div>
            <h4>SHIRDI</h4>
          </div>
          <div >
              <p class="size ng-binding">
                  According to the Hindu Culture,Engagement(Wagda... </p>
          </div>
          <div  class='buttons' >
            <button class="btn btn-danger">View Details</button>
          
              
             
          </div>
          
        </div>
        <div class="col-sm-3 img-item">
            <div>
              <img width='100%' src="../assets/images/b9.jpg">
            </div>
            <div>
              <h4>SHANISIGNAPORE</h4>
            </div>
            <div>
                <p class="size ng-binding">
                    According to the Hindu Culture,Engagement(Wagda... </p>
            </div>
            <div  class='buttons' >
              <button class="btn btn-danger">View Details</button>
            
                  
            </div>
            
          </div>
          <div class="col-sm-3 img-item">
              <div>
                <img width='100%' src="../assets/images/Durga-Matha-Images.jpg">
              </div>
              <div>
                <h4>DURGA TEMPLE</h4>
              </div>
              <div>
                <p class="size ng-binding">
                    According to the Hindu Culture,Engagement(Wagda... </p>
              </div>
              <div  class='buttons' >
                <button class="btn btn-danger">View Details</button>
              
                  
                 
              </div>
              
            </div>
    </div> -->


    <div class='container'>
        <div class="col-sm-3 img-item" *ngFor="let item of data">
        
             <app-punyakshetra-item [item]="item"></app-punyakshetra-item>
           
          </div>
       
        </div>
        