<!-- <div class='container' style="margin:85px">
    <div class="col-sm-3 img-item">
      <div>
        <img width='100%' src="../assets/images/eng-1.jpg">
  
      </div>
  
      <div>
        <h4>Engagement</h4>
      </div>
      <div>
          <p class="size ng-binding">
              According to the Hindu Culture,Engagement(Wagda... </p>
      </div>
      <div  class='buttons' >
        <button class="btn btn-danger">View Details</button>
  
        <button class="btn btn-danger book-now">Book Now</button>
  
      </div>
  
    </div>
    <div class="col-sm-3 img-item">
      <div>
        <img width='100%' src="../assets/images/akshara-1.jpg">
      </div>
      <div>
        <h4>Aksharabyasam</h4>
      </div>
      <div>
          <p class="size ng-binding">
              According to the Hindu Culture,Engagement(Wagda... </p>
      </div>
      <div class='buttons'>
        <button class="btn btn-danger">View Details</button>
  
        <button class="btn btn-danger book-now">Book Now</button>
  
      </div>
  
    </div>
    <div class="col-sm-3 img-item">
      <div>
        <img width='100%' src="../assets/images/6_image_1_maxresdefault.jpg">
      </div>
      <div>
        <h4>Naming cermony</h4>
      </div>
      <div>
          <p class="size ng-binding">
              According to the Hindu Culture,Engagement(Wagda... </p>
      </div>
      <div class='buttons'>
        <button class="btn btn-danger">View Details</button>
  
        <button class="btn btn-danger book-now">Book Now</button>
  
      </div>
  
    </div>
    <div class="col-sm-3 img-item">
      <div>
        <img width='100%' src="../assets/images/5_image_1_shiva2.jpg">
      </div>
      <div>
        <h4>Shivaratri</h4>
      </div>
      <div>
          <p class="size ng-binding">
              According to the Hindu Culture,Engagement(Wagda... </p>
      </div>
      <div class='buttons'>
        <button class="btn btn-danger">View Details</button>
  
        <button class="btn btn-danger book-now">Book Now</button>
  
      </div>
  
    </div>
  </div>
  
  <div class='container' style="margin:85px">
    <div class="col-sm-3 img-item">
      <div>
        <img width='100%' src="../assets/images/4_image_1_ayyappa2.jpg">
      </div>
      <div>
        <h4>Ayyappa padi puja</h4>
      </div>
      <div>
          <p class="size ng-binding">
              According to the Hindu Culture,Engagement(Wagda... </p>
      </div>
      <div class='buttons'>
        <button class="btn btn-danger">View Details</button>
  
        <button class="btn btn-danger book-now">Book Now</button>
  
      </div>
  
    </div>
    <div class="col-sm-3 img-item">
      <div>
        <img width='100%' src="../assets/images/3_image_2_3_image_1_daiva-marriage.jpg">
      </div>
      <div>
        <h4>Hindu marriage</h4>
      </div>
      <div>
          <p class="size ng-binding">
              According to the Hindu Culture,Engagement(Wagda... </p>
      </div>
      <div class='buttons'>
        <button class="btn btn-danger">View Details</button>
  
        <button class="btn btn-danger book-now">Book Now</button>
  
      </div>
  
    </div>
    <div class="col-sm-3 img-item">
      <div>
        <img width='100%' src="../assets/images/2_image_2_ganesh2.jpg">
      </div>
      <div>
        <h4>Vinayaka Chadurthi</h4>
      </div>
      <div>
          <p class="size ng-binding">
              According to the Hindu Culture,Engagement(Wagda... </p>
      </div>
      <div class='buttons'>
        <button class="btn btn-danger">view Details</button>
  
        <button class="btn btn-danger book-now">Book Now</button>
  
      </div>
  
    </div>
    <div class="col-sm-3 img-item">
      <div>
        <img width='100%' src="../assets/images/1_image_2_127.jpg">
      </div>
      <div>
        <h4>Satyanarayana vratham</h4>
      </div>
      <div>
          <p class="size ng-binding">
              According to the Hindu Culture,Engagement(Wagda... </p>
      </div>
      <div class='buttons'>
          <button class="btn btn-danger">view Details</button>
  
          <button class="btn btn-danger book-now">Book Now</button>
  
      </div>
    </div>
  </div> -->
  <div class='container'>
      <div class="col-sm-3 img-item" *ngFor="let item of data">
        
        <app-pooja-item [item]='item'></app-pooja-item>
        </div>
    
      </div>